* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

button:hover {
  transform: scale(1.02);
}

/* Nav-bar design */

.header-section {
  width: 100%;
  background-color: #200c3a;
  margin: 0 auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-bar ul li a {
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.nav-bar ul a:hover {
  color: deeppink;
  font-size: 20px;
}

.nav-bar img {
  height: 32px;
  width: 219px;
}

.btn {
  width: 135px;
  height: 44px;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 16.531%,
    rgba(251, 9, 180, 1) 49.819%,
    rgba(145, 0, 248, 1) 81.648%
  );
}

.btn:hover {
  background-size: 105%;
}

.humberg-menu {
  display: none;
}

/* hero-section */

.hero-section {
  height: 760px;
  width: 100%;
  background-image: url("images/hero-bg.png");
  margin: 0px auto;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1a0b2e;
}

.hero-main-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero-btn {
  width: 75px;
  height: 38px;
  border-radius: 25px;
  background: #00ff88;
  outline: none;
  border: none;
  position: absolute;
  left: 56%;
  top: 25%;
  z-index: 1;
  right: 91%;
  font-size: 18px;
  font-weight: bold;
}

.hero-main-2 .img-2 {
  position: relative;
  margin-top: 101px;
}

.hero-main-2 .img-wrapper {
  position: absolute;
  margin-top: 70px;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.header-text h1 {
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  margin-top: 40px;
}
.header-text p {
  color: #fff;
  opacity: 80%;
  margin-bottom: 24px;
}

.btn-div .hero-btn-1 {
  width: 201px;
  height: 44px;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 16.531%,
    rgba(251, 9, 180, 1) 49.819%,
    rgba(145, 0, 248, 1) 81.648%
  );
}

.hero-btn-1 .fa-brands {
  margin-right: 5px;
}

.btn-div .hero-btn-2 {
  width: 147px;
  height: 44px;
  border-radius: 25px;
  cursor: pointer;
  background: none;
  border: 1px solid #00ff88;
  color: #00ff88;
}

.hero-btn-2 .fa-regular {
  margin-right: 5px;
}

/* About-section */

.about-section {
  width: 100%;
  background-color: #1a0b2e;
  margin: 0px auto;
}

.about-section h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px;
  padding-top: 60px;
}

.about-section p {
  color: #fff;
  font-size: 16px;
  opacity: 80%;
  line-height: 24px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.about-section .second-p {
  margin-top: 25px;
}

.about-section hr {
  width: 1200px;
  opacity: 10%;
  margin: 0px auto;
  margin-top: 80px;
}

.about-child {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-content: space-between;
  margin: 0px auto;
}

.about-child h1 {
  font-size: 50px;
  color: #00ff88;
}

.about-child p {
  font-size: 16px;
  opacity: 80%;
  line-height: 20px;
}

/* Layout-Section */

.layout-section {
  width: 100%;
  background-color: #230e3d;
  margin: 0px auto;
}

.layout-section h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.grid-layout {
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  display: grid;
  grid-template-areas:
    "first-div second-div second-div"
    "first-div third-div third-div"
    "fourth-div fourth-div fifth-div ";
  margin: 0px auto;
}

.first-div {
  grid-area: first-div;
}

.second-div {
  grid-area: second-div;
}

.third-div {
  grid-area: third-div;
}

.fourth-div {
  grid-area: fourth-div;
}

.fifth-div {
  grid-area: fifth-div;
}

.div-card {
  background-color: #260a4e;
  border-radius: 40px;
  padding: 40px;
}

.div-card h4 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 16px;
}

.div-card p {
  line-height: 24px;
  font-size: 16px;
  opacity: 60%;
  line-height: 24px;
  color: #fff;
}

.div-card img {
  margin-bottom: 16px;
}

/* Card-Div */

.card-section {
  width: 100%;
  background-color: #1a0b2e;
  margin: 0px auto;
}

.card-section .card-section-text {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 48px;
  padding-top: 120px;
}

.card-div {
  width: 380px;
  height: 440px;
  background-color: #260a4e;
  border-radius: 24px;
}

.card-div:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.card-div iframe {
  border-radius: 20px;
}

.card-div h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 16px 24px 12px 24px;
}

.card-div p {
  font-size: 16px;
  opacity: 80%;
  color: #fff;
  line-height: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 24px;
}

.card-div span {
  color: #00ff88;
  padding: 20px 24px 0px;
}

.card-div span i {
  color: #00ff88;
  padding-top: 12px;
}

.parent-card {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 30px;
}

/* Host Area */

.main-host {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  background-color: #260a4e;
  border-radius: 30px;
  gap: 20px;
}

.child-host-1 {
  display: flex;
  align-items: center;
}

.child-host-2 {
  padding: 48px 40px 48px 0px;
}

.child-host-1 img {
  margin-left: 30px;
}

.child-host-2 .name {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.child-host-2 p {
  color: #fff;
  opacity: 80%;
  line-height: 25px;
  margin-top: 10px;
}

.child-host-2 img {
  gap: 8px;
  margin-top: 16px;
}

.host-information h1 {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 120px;
}
/* host-area-end */

/* footer-section-start */

.footer-section {
  width: 100%;
  height: 412px;
  background-image: url("images/footer-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
  background-position-x: center;
  background-repeat: repeat-x;
}

.footer-section img {
  margin: 0px auto;
  margin-bottom: 30px;
}
.wave {
  padding-left: 120px;
}

.footer-section ul,
li {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
  color: #fff;
}

.footer-section p {
  color: gray;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.footer-box {
  display: flex;
  gap: 20px;
}

.footer-box-child {
  display: flex;
  color: white;
  gap: 10px;
}

/* Responsive Section */

@media screen and (max-width: 576px) {
  .nav-bar {
    padding: 18px 20px;
    max-width: 576px;
    margin: 0 20px;
  }
  * {
    overflow-x: hidden;
  }
  .img-2 {
    width: 12.5rem;
  }
  .micro {
    width: 5rem;
    padding-top: 20px;
  }
  .hero-section {
    background-position-y: 100px;
    background-position-x: -120px;
    background-size: 150%;
    background-repeat: no-repeat;
    background-color: #1a0b2e;
  }
  .header-text p {
    text-align: center;
  }

  .Hero-btn {
    top: 20%;
  }
  .nav-menu ul li {
    display: none;
  }
  .about-section {
    text-align: center;
    margin-top: -170px;
    padding: 20px;
  }
  .about-child {
    grid-template-columns: repeat(2, 1fr);
  }

  .layout-section h1 {
    text-align: center;
  }
  .card-section-text {
    text-align: center;
  }
  .grid-layout {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
    grid-template-areas:
      "first-div"
      "second-div"
      "third-div"
      "fourth-div"
      "fifth-div";
  }

  .parent-card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  
  .card-div-1,
  .card-div-2,
  .card-div-3 {
    width: 320px;
  }

  iframe {
    width: 320px;
  }

  .card-section {
    width: 100%;
    max-width: 576px;
  }

  .footer-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .host-area {
    margin-bottom: -115px;
  }

  .footer-section {
    background-image: url(images/Image.png);
    background-position: center;
    background-size: 120%;
    background-color: #1a0b2e;
  }

  .footer-hero {
    justify-items: center;
  }
  .wave {
    padding-left: 50px;
    width: 150px;
  }
  .footer-box .footer-box-child,
  .footer-box div {
    width: 100px;
  }

  .main-host {
    flex-direction: column;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .child-host-1 {
    display: flex;
    padding-top: 70px;
    padding-right: 50px;
    justify-content: center;
  }

  .child-host-2 {
    text-align: center;
  }

  .host-contact {
    display: flex;
    justify-content: center;
    padding-left: 80px;
  }

  .btn {
    display: none;
  }

  .nav-bar .humberg-menu {
    display: inline;
  }

  .humberg-menu img {
    height: 24px;
    width: 24px;
  }

  body {
    overflow-x: hidden;
  }

  .footer-box-child img {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  .footer-box-child {
    display: flex;
    align-items: center;
  }
}
